<div class="education-item">
  <div class="text-content">
    <h3>{{ .item.title }}</h3>
    <h4>{{ .item.institution }}</h4>
    {{ $lang := .context.Lang | default "ru" }}
    <div>Debug (partial/education): Lang={{ .context.Lang }}</div>
    {{ if eq $lang "ru" }}
      <p>{{ .item.city }} | {{ .item.date_str }}</p>
    {{ else }}
      {{ if .item.start_date }}
        <p>{{ .item.city }} | {{ .item.start_date | time.Format (i18n "dateFormat") }} - {{ if .item.end_date }}{{ .item.end_date | time.Format (i18n "dateFormat") }}{{ else }}{{ i18n "present" }}{{ end }}</p>
      {{ else }}
        <p>{{ .item.city }} | {{ .item.date_str }}</p>
      {{ end }}
    {{ end }}
    {{ if .item.desc }}
      <ul>
        {{ range .item.desc }}
          <li>{{ . }}</li>
        {{ end }}
      </ul>
    {{ end }}
    {{ if .item.technologies }}
      {{ partial "tech-icons.html" .item.technologies }}
    {{ end }}
  </div>
  {{ if .item.thumbnail }}
    <div style="flex: 1; min-width: 100px; text-align: center;">
      <a href="{{ .item.diploma | relURL }}" target="_blank">
        <img src="{{ .item.thumbnail | relURL }}" alt="Диплом {{ .item.title }}" style="max-width: 100%; height: auto; border: 1px solid #ccc; border-radius: 5px;">
      </a>
    </div>
  {{ end }}
</div>