<div class="education-item">
  <!-- Левая колонка: текст (75%) -->
  <div class="text-content">
    <h3>{{ .title }}</h3>
    <h4>{{ .institution }}</h4>
    {{ $lang := .Site.LanguageCode }}
    {{ if eq $lang "ru" }}
      <p>{{ .city }} | {{ .date_str }}</p>
    {{ else }}
      <p>{{ .city }} | {{ .start_date | time.Format (i18n "dateFormat") }} - {{ if .end_date }}{{ .end_date | time.Format (i18n "dateFormat") }}{{ else }}{{ i18n "present" }}{{ end }}</p>
    {{ end }}

    {{ if .desc }}
    <ul>
      {{ range .desc }}
        <li>{{ . }}</li>
      {{ end }}
    </ul>
    {{ end }}
  </div>
  <!-- Правая колонка: thumbnail (25%) -->
  {{ if .thumbnail }}
  <div style="flex: 1; min-width: 100px; text-align: center;">
    <a href="{{ .diploma | relURL }}" target="_blank">
      <img src="{{ .thumbnail | relURL }}" alt="Диплом {{ .title }}" style="max-width: 100%; height: auto; border: 1px solid #ccc; border-radius: 5px;">
    </a>
  </div>
  {{ end }}
  {{ if .technologies }}
    <p><strong>Технологии:</strong> {{ delimit .technologies ", " }}</p>
  {{ end }}  
</div>