<div class="experience-item">
  <h3>{{ .title }}</h3>
  <h4>{{ .company }}</h4>
  <h5>{{ .industry }}</h5>
  {{ $lang := .Site.LanguageCode }}
  {{ if eq $lang "ru" }}
    <p>{{ .city }} | {{ .date_str }}</p>
  {{ else }}
    <p>{{ .city }} | {{ .start_date | time.Format (i18n "dateFormat") }} - {{ if .end_date }}{{ .end_date | time.Format (i18n "dateFormat") }}{{ else }}{{ i18n "present" }}{{ end }}</p>
  {{ end }}

  <ul>
    {{ range .responsibilities }}
      <li>{{ . }}</li>
    {{ end }}
  </ul>
  {{ if .technologies }}
    <p><strong>{{ i18n "technologies" }}:</strong> {{ delimit .technologies ", " }}</p>
  {{ end }}  
</div>