<div class="experience-item">
  <h3>{{ .item.title }}</h3>
  <h4>{{ .item.company }}</h4>
  <h5>{{ .item.industry }}</h5>
  {{ $lang := .context.Lang | default "ru" }}
  {{ if eq $lang "ru" }}
    <p>{{ .item.city }} | {{ .item.date_str }}</p>
  {{ else }}
    {{ if .item.start_date }}
      <p>{{ .item.city }} | {{ .item.start_date | time.Format (i18n "dateFormat") }} - {{ if .item.end_date }}{{ .item.end_date | time.Format (i18n "dateFormat") }}{{ else }}{{ i18n "present" }}{{ end }}</p>
    {{ else }}
      <p>{{ .item.city }} | {{ .item.date_str }}</p>
    {{ end }}
  {{ end }}
  <ul>
    {{ range .item.responsibilities }}
      <li>{{ . }}</li>
    {{ end }}
  </ul>
  {{ if .item.technologies }}
    {{ partial "tech-icons.html" .item.technologies }}
  {{ end }}
</div>